* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-trends-section {
  width: 100%;
  max-width: 850px;
  margin: 0 auto;
  padding: 2rem;
}

.heading-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.section-title {
  font-size: 1.4rem; /* Adjusted font size */
  text-transform: uppercase;
  text-align: right;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.view-all-link {
  font-size: 1.1rem; /* Adjusted font size */
  background-color: var(--primary);
  color: var(--white);
  margin-right: 4rem;
  padding: 0.7rem 1.4rem; /* Increased padding */
  text-transform: uppercase;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* Added shadow */
}

.view-all-link:hover {
  background-color: darken(var(--primary), 10%);
  transform: scale(1.05); /* Slightly enlarges the button */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.recipe-link {
  text-decoration: none;
  color: inherit;
}

.recipe-card {
  width: 100%;
  max-width: 250px;
  background: white;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.recipe-card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card-body {
  padding: 0.75rem;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.card-info {
  font-size: 0.75rem;
  margin-bottom: 0.75rem;
  color: #555;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.4rem 0.8rem;
  font-size: 0.9rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.card-btn:hover {
  background-color: #0056b3;
}
